.small-container{
  max-width: 1020px;
  margin: 0 auto;
}

.container::after, .small-container::after {
  clear: both;
  content: '';
  display: table;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

.uppercase{
  text-transform: uppercase;
}

.jumbo{
  background-position-x: center;
  background-size: cover;
  padding: 210px 0;
  display: block;
}
