.jumbo{
  background-position-x: center;
  background-size: cover;
  padding: 210px 0;
  display: block;
}

#comics {
  background-color: $colorDarkSection;
  color: $colorTextDarkSection;

  .container {
    .title-section {
      background-color: $colorPrimary;
      display: inline-block;
      padding: 10px 20px;
      transform: translateY(-50%);
      h2 {
        font-size: 25px;
      }
    }
    .comics-wrapper {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      flex-wrap: wrap;
      .card {
        flex-basis: 180px;
        padding-bottom: 30px;
        .card-img {
          width: 180px;
          height: 180px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
          }
        }
        .card-title {
          p {
            font-size: 14px;
            margin-top: 10px;
          }
        }
      }
    }
  }
  .button {
    display: flex;
    padding: 20px 0;
    justify-content: center;
    .btn-load {
      background-color: $colorPrimary;
      a {
        display: inline-block;
        padding: 10px 60px ;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
      }
    }
  }
  .shop-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $colorPrimary;
    padding: 40px 0;
    .card-shop {
      display: flex;
      align-items: center;
      padding-right: 40px;
    }
    img {
      width: 50px;
      height: 50px;
      object-fit: contain;
    }
    a {
      font-size: 14px;
      margin-left: 10px;
      color: #FFF;
    }
  }
}
