$colorPrimary: #0282F9;
$colorTextMenu: #464646;
$secondary_text_color: #9f9f9f;
$colorDarkSection: #1c1c1c;
$colorTextDarkSection: #fff;
$colorTitle: #003f5e;
$borderDetailsColor: #e3e3e3;
$footer_bg_color: #303030;
$footer_title_color: #fff;
$footer_text_color: #959595;
